@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #0f1ba3, #4757ff);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.pass-container {
    background-color: #2c3cf0;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    min-width: 400px;
    border-radius: 10px;
}


.pass {
    background-color: #F0C62B;
    color: #2C3CF0;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1em;
    overflow: auto;
    border-radius: 10px 10px 0px 0px;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.3)
}

input#len {
    border-radius: 10px;
    border: none;
    text-align: center;
}

.pass button {
    background-color: #0f1ba3;
    border: none;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25em;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2 ease;
    opacity: 0;
}

.pass:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.form {
    padding: 0 1em 1em;
}

.form-control {
    color: #eee;
    display: flex;
    justify-content: space-between;
    margin: 0.75em 0;
}

.generate {
    background-color: #F0C62B;
    border: none;
    color: #4757FF;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.75em;
    margin-top: 1em;
    width: 100%;
}